-
	var _data = dataBody || {
		article: [
			'Type is Beautiful 在十年前的今天成立。2007 年 4 月，我们写下第一篇关于 Helvetica 和 Arial 体的比较文章，由此展开了我们在中文世界对文字设计和视觉文化的研究和探讨。',
			'建立之初的作者只有两位身处英国的学生，今天我们的团队成员、作者和译者遍布世界、背景各异、才华漫溢。带领 TIB 到今天的正是这一群义务写作、义务翻译、义务工作的朋友。在此向所有为 TIB 提供助力、灵感和机会的朋友们表示感谢，其中包括（以下多位均身兼数职）提供灵感的 Shi Yuan；参与写作的方宏章、Julius Hui、梁海、卢涛、王飞、贺荣凯、张弥迪、陈其瑞、William Hu、Joy Chen、Meng Yan、莫杨、罗佳洋、董福兴、杨心如、陈奕钧、谭沛然、郑初阳、杜希尧；参与翻译的 Emily Yang、Brooke Zhu、吴天凯和易舒；为我们提供技术的 Metaphox 和庄钧珑；加入团队并参与活动策划的 Colourphilosophy 和龚奇骏；以及我们的核心成员钱争予、Eric Liu 和 Mira Ying。'
		],
		figures: [
			{
				src: '#',
				caption: '建立之初的作者只有两位身处英国的学生，今天我们的团队成员、作者和译者遍布世界、背景各异、才华漫溢。'
			}, {
				src: '#',
				caption: '建立之初的作者只有两位身处英国的学生，今天我们的团队成员、作者和译者遍布世界、背景各异、才华漫溢。'
			}
			
		],
		footer: [
			'「Typography」十年前在中文世界是个陌生词眼，当今已然成为一个热门领域。TIB 也顺应着这轮社会和行业的变革，冀望以诚恳、严肃的态度，从无到有，为读者提供了关于文字设计和相关领域的崭新视角和故事。十年来，TIB 也从最初的文字内容延伸出成功的播客节目《字谈字畅》、TypeTour 和 TypeSchool 系列主题活动、上海活字等支持项目、以及协助翻译、出版了多本中文相关书籍、多个主题展览和讲座，成为中文世界推进文字设计文化的领先力量。'
		]
		
		
	}

section.body
	.body-gallery
	
	article.body-article
		each para in _data.article
			p= para
	
	.body-figgroup
		each fig in _data.figures
			figure.body-fig
				img.body-fig-img(src=`${assetsPath}${fig.src}?v=${verTag}`)
				figcaption.body-fig-caption= fig.caption
	
	footer.body-footer
		each para in _data.footer
			p= para