-
	var _data = dataBody || {
		
	}

section.home-body-article
	article.post
		h1.post-h1 Type is Beautiful 十年
		h3.post-h3 2017 年迎来了 Type is Beautiful 的十年，十年来我们一直致力于在中文世界对文字设计和视觉文化的研究和探讨。
		.post-body
			p.post-p 十年前，「文字设计」在中文世界是个陌生词眼，当今已然成为一个热门领域。TIB 也顺应着这轮社会和行业的变革，冀望以诚恳、严肃的态度，从无到有，为读者提供了关于文字设计和相关领域的崭新视角和故事。十年来，TIB 也从最初的文字内容延伸出成功的播客节目《字谈字畅》、TypeTour 等系列主题活动、上海活字等支持项目、以及协助翻译、出版了多本中文相关书籍、多个主题展览和讲座，成为中文世界推进文字设计文化的领先力量。
			p.post-p 未来 TIB 希望可以成为一个涉猎更广的媒体计划。我们将关注以文字设计、图像、技术和其他视觉元素为核心的沟通手段及其历史发展，并继续探讨媒体、文化和公共事业以此沟通手段对社会和生活的影响。我们希望继续做好文字和播客内容，以此为基础，开始进行更多的出版、互动、展览等活动，与读者、听众和机构进行更频繁更多样的交流。
		.post-gallery
			.post-gallery-item
				figure.post-figure
					img.post-img(src=`${assetsPath}images/image-sample.jpg?v=${verTag}`)
					figcaption.post-figcaption 高冈昌生先生在嘉瑞工房与团员交流——印刷和字体工作坊，TypeTour Tokyo
			.post-gallery-item
				figure.post-figure
					img.post-img(src=`${assetsPath}images/image-sample.jpg?v=${verTag}`)
					figcaption.post-figcaption 高冈昌生先生在嘉瑞工房与团员交流——印刷和字体工作坊，TypeTour Tokyo
			.post-gallery-item
				figure.post-figure
					img.post-img(src=`${assetsPath}images/image-sample.jpg?v=${verTag}`)
					figcaption.post-figcaption 高冈昌生先生在嘉瑞工房与团员交流——印刷和字体工作坊，TypeTour Tokyo
			.post-gallery-item
				figure.post-figure
					img.post-img(src=`${assetsPath}images/image-sample.jpg?v=${verTag}`)
					figcaption.post-figcaption 高冈昌生先生在嘉瑞工房与团员交流——印刷和字体工作坊，TypeTour Tokyo
		
		h3.post-h3 2017 年 5 月 27 日上海，Type is Beautiful 迎来了十周年庆祝沙龙活动。
		.post-body
			p.post-p 超过六十名嘉宾和四十名公众朋友拥挤在长宁区那行零度空间，与 TIB 团队见面、讨论和座谈。团队成员和嘉宾有从英国、德国、捷克、日本、台北、香港、北京、杭州等各地赶来上海参加活动。设计师、造字人、出版人、媒体和播客主播们与普通读者一起聊天讨论相关的议题和发展。不少未到场的嘉宾、朋友和团队成员也通过视频和语音信息表达了祝福。
			p.post-p 晚上六点，由吴涛开幕，主编 Rex 首讲，回顾了十年来对 TIB 有影响的重要设计、文化事件，以及伴随于此 TIB 的成长经历：「我们坚信设计是推进社会变革的重要力量，TIB 也因此不断从公共文化和设计变革吸取，以调整我们的认知和路线」。接着上海活字发起人厉致谦讲述了上海活字从研究开始到采访和工作坊，从龚奇骏在建红的实习到推出 Typeholder 产品的全历程，并介绍了远道而来的陈其瑞先生。接着，是「字谈字畅」两位主播 Eric 和钱争予在临时搭建的录音棚进行的十分钟现场节目录制，两位也听众进行了交流。最后的演讲又由厉致谦带领，回顾了游学项目 TypeTour 开端，以及最近的路线和亮点。沙龙的正式活动以一个互动游戏环节和简短的集体 Q&A 圆满结束。
		.post-gallery
			.post-gallery-item
				figure.post-figure
					img.post-img(src=`${assetsPath}images/image-sample.jpg?v=${verTag}`)
					figcaption.post-figcaption 高冈昌生先生在嘉瑞工房与团员交流——印刷和字体工作坊，TypeTour Tokyo
			.post-gallery-item
				figure.post-figure
					img.post-img(src=`${assetsPath}images/image-sample.jpg?v=${verTag}`)
					figcaption.post-figcaption 高冈昌生先生在嘉瑞工房与团员交流——印刷和字体工作坊，TypeTour Tokyo
			.post-gallery-item
				figure.post-figure
					img.post-img(src=`${assetsPath}images/image-sample.jpg?v=${verTag}`)
					figcaption.post-figcaption 高冈昌生先生在嘉瑞工房与团员交流——印刷和字体工作坊，TypeTour Tokyo
			.post-gallery-item
				figure.post-figure
					img.post-img(src=`${assetsPath}images/image-sample.jpg?v=${verTag}`)
					figcaption.post-figcaption 高冈昌生先生在嘉瑞工房与团员交流——印刷和字体工作坊，TypeTour Tokyo
		
		h1.post-h1 十周年的欢聚，共同的记忆，新的起点
		h3.post-h3 感谢支持十周年沙龙活动的所有人。感谢多年来关注 Type is Beautiful 的读者，你。希望你能继续支持我们。
		.post-body
			p.post-p 本次沙龙活动得以成功举办，我们需要感谢造字工房、方正字库、文鼎科技、汉仪字库、Monotype 的大力支持。感谢那行-零度空间给予的活动空间支持，感谢墨迩空间给予的仓储空间支持。也感谢来自 Richor、丁竹筠、孙哲、陈玉立等志愿者的辛勤劳动；感谢 Florrie 制作纪念饼干；感谢肖洒（Mono）和曹子林提供摄影和摄像工作；以及感谢活动总策划 Mira 以及 TIB 全体成员的工作和参与。
		
		footer.post-support
			img.post-support-logo(src="#")
			img.post-support-logo(src="#")
			img.post-support-logo(src="#")
			img.post-support-logo(src="#")
			img.post-support-logo(src="#")
