-
	var _data = dataBody.souvenir

section.home-body-souvenir
	.souvenir
		h3.souvenir-heading= _data.heading
		ul.souvenir-list
			each item in _data.list
				li.souvenir-item
					a.souvenir-target(target="_blank" href=item.link)
						figure.souvenir-thumb
							img.souvenir-thumb-img(src=`${assetsPath}${item.thumb}?v=${verTag}`)
						.souvenir-info
							h5.souvenir-name= item.name
							p.souvenir-price= item.price
