doctype html

block var
	- var pageTitl
	- var pageDisc
	- var pageKeyw
	- var bodyClass
	- var bodyClassModifier
	- var modalClassModifier

- if (bodyClassModifier) bodyClassModifier = " " + bodyClassModifier

html(lang="zh-Hans")
	block head
		include _head
	
	body(class=(bodyClass + bodyClassModifier))
		block bodyHeader
		
		block bodyMain
			main(role="main")
				//- .wechat-thumb(hidden=true)
					img(src=`${assetsPath}assets/wechat-thumb.png?v=${verTag}`)
				block mainHeader
				block mainBody
				block mainFooter
		
		block bodyFooter
		
		block dotTemplate
		block dotTemplateGlobal
		
		block bodyScripts
			//- script(type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js")
			script(type="text/javascript" src=`${assetsPath}assets/libs.js?v=${verTag}`)
			script(type="text/javascript" src=`${assetsPath}assets/app.js?v=${verTag}`)
			script(type="text/javascript").
				(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');ga('create','UA-101012561-1','auto');ga('send','pageview');
