- var _data = dataHeader

.brand-header
	.brand-tib
		img.brand-tib-logotype(src=`${assetsPath}${_data.tib.logotype}?v=${verTag}`)
		p.brand-tib-slogan= _data.tib.slogan
	.brand-tib10
		.brand-tib10-icon
		.brand-tib10-text!= _data.tib10.text
